[
    {
        "CreateComponents": {
            "path" : ["Textbox", $TEXTBOX_ID],
            "components": [
                {
                    "type": "Box",
                    "name" : "box",
                    "parameters": {
                        "tile_size": $TILE_SIZE,
                        "spritesheet": $SPRITESHEET,
                        "width": $TEXTBOX_WIDTH,
                        "height": $TEXTBOX_HEIGHT,
                        "box": $TEXTBOX_PARAMS,
                        "no_speech_arrow": $NO_SPEECH_ARROW,
                        "right_speech_arrow": $RIGHT_SPEECH_ARROW,
                        "left_speech_arrow": $LEFT_SPEECH_ARROW
                    }   
                }
            ]
        }
    }
]
